##
## from https://github.com/gitattributes/gitattributes.io
##      https://schacon.github.io/git/gitattributes.html
##
## Core latex/pdflatex files:
*.tex text
*.sty text
*.cls text
*.def text
*.bib text

*.gitattributes text
*.gitignore text
.gitattributes text
.gitignore text

# Documentation
*.md text
LICENSE text
AUTHORS text
*.md  text
*.htm text
README text
*.txt text

# binaries and others
*.pdf binary

*.tex diff=tex
*.sty diff=tex
*.def diff=tex
*.cls diff=tex
